<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="login" src="assets\images\login.png"/>
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>    
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.clave"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="ingresar()">Iniciar Sesión</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
